.button {
    background-color: grey;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
    width: 260px;
}

.button:hover {
    color: #95ffd4;
}

@media only screen and (max-width: 600px) {
    .button {
      width: 100%;
    }
  }