.form {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px 0;
  background-color: black;
}

.form form {
  max-width: 80%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 600px) {
  /* .form {
    margin: 20px 0;
  } */

  h2 {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
  }
}

@media only screen and (max-height: 700px) {
  h2 {
    display: none ;
  }

  .form form {
    border-radius: 20px;
    padding: 0px 45px;
  }
}
