.banner {
    background-position: top;
    background-size: 100% 100%;
    text-align: center;
    color: #937b29;
    font-size: 32px;
    font-weight: 600;
}


@media only screen and (max-width: 600px) {
    p {
      margin-top: -15px;
    }

    img {
      max-width: 16rem !important;
    }
  }